/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.dpartner {
    height: 65% !important;
}
.dpartner_min {
    height: 40% !important;
}

.logo_bar_wt{
    color: white !important;
    /*text-transform: uppercase;*/
    font-weight: 600;
}

.logo_bar{
    /*text-transform: uppercase; */
    font-weight: 600;
}

/* Instagram share */
ul.share-buttons li a.ig-share {
    color: #c13584;
  }
  ul.share-buttons li a.ig-share:hover {
    background: #c13584;
    color: #fff;
    border-color: #c13584;
  }

/* No bullets*/
  ul.no_bullets li:before {
    font-family: 'ElegantIcons';
    content: "\e051";
    color: red;
  }

  ul.accommodation_conditions li {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
  }  
